CompileFlags:
  CompilationDatabase: build
  Add:
    - -isystem
    - /home/mimi/.platformio/packages/toolchain-riscv32-esp/riscv32-esp-elf/include
    - -isystem
    - /home/mimi/.platformio/packages/toolchain-riscv32-esp/lib/gcc/riscv32-esp-elf/14.2.0/include
    - -DESP_PLATFORM
    - --target=riscv32-esp-elf
  Remove:
    - -fno-shrink-wrap
    - -fno-tree-switch-conversion
    - -fstrict-volatile-bitfields
    - -fzero-init-padding-bits=all
    - -fno-malloc-dce
  Compiler: /home/mimi/.platformio/packages/toolchain-riscv32-esp/bin/riscv32-esp-elf-gcc

Diagnostics:
  Suppress:
    - unused-includes
    - unknown-warning-option
    - unused-command-line-argument